/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* General Styles */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    /*background-color: #fff;*/
    background-color:rgb(229, 231, 235);
    /*background-color: !* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#112959+75,7db9e8+100&1+0,0+100 *!*/
    /*background: linear-gradient(to bottom,  rgba(17,41,89,1) 0%,rgba(17,41,89,0.25) 75%,rgba(125,185,232,0) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/

    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo h1 {
    font-size: 24px;
    color: #2c3e50;
    /*color: white;*/

}

.ul-links {
    list-style: none;
    display: flex;
    gap: 20px;

    position: absolute;
    right: 5vh;
    top: 3vh;
}

.ul-links li a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: bold;
}

.ul-links li a:hover {
    color: #3498db;
}
#menu-icon{
    display: none;
}





/* Home Section Styles */
#home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 50px;
    background-color: #ecf0f1;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#home > div {
    /*width: 50%;*/
    /*height: 50%;*/
    margin: 10px;
}

#left-side {
    position: relative;
    /*width: 50%;*/
    text-align: left;
}

#name_h1 {
    font-size: 48px;
    color: #2c3e50;
}

#name_h2 {
    font-size: 24px;
    color: #7f8c8d;
    margin: 10px 0;
}

#description {
    font-size: 18px;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;

    /*margin-bottom: 10px;*/
    /*position: absolute;*/
    /*right: 30%;*/
    /*bottom: 20%;*/

}

#social-links a img {
    width: 30px;
}

#connect_button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#connect_button:hover {
    background-color: #2980b9;
}

#right-side {
    position: relative;
    /*width: 40%;*/
    text-align: right;
}

#right-side img {
    width: 500px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
}


/* About Section Styles */
#about {
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

}
#about>div{
    margin: 10px;
}

#image-about {
    text-align: right;
}

#img2{
    position: relative;
    left: -20vh;
}

#image-about img {
    border-radius: 50%;
}

#left-about {
    text-align: left;
}

#left-about h1 {
    font-size: 36px;
    color: #2c3e50;
}

#left-about h3 {
    font-size: 24px;
    color: #7f8c8d;
}

#left-about h4 {
    font-size: 16px;
    color: #7f8c8d;
    margin: 10px 0;
}

.social-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #2c3e50;
    display: flex;
    align-items: center;
}

.social-links a img {
    width: 30px;
    margin-right: 5px;
}







/* Education Section Styles */
#education {
    position: relative;
    padding: 50px;
    /*background-color: #ecf0f1;*/
}

#topic1 {
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

.article1 {
    /*background-color: #3498db;*/
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    height: 30vh;
    text-align: center;
}
.article-topic{
    color: #2c3e50;
}
#img1{


}




/* Assignments Section Styles */
#assignments {
    position: relative;
    padding: 50px;
    background-color: #fff;
    text-align: center;
    height: 120vh;

}

#assignments-header{
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}

.slider{
    height: 60%;
    margin:auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: rgb(229, 231, 235);

}
.slid-track{
    display: flex;
    width: calc(30vw * 18);
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
.slide{
    height: 60vh;
    width: 30vw;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    /*border: 1px solid black;*/
    margin-right: 10px;
}
img{
    width:100%;
    transition: transform 0.1s;
}
img:hover{
    transform: translateZ(20px);
}

.slider::before,
.slider::after{
    /*background:linear-greadiant(to right , rgba(255,255,255,1),0%,*/
    /* rgba(255,255,255,0) 100%); */
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}





/* Projects Section Styles */
#projects {
    position: relative;
    padding: 50px;
    background-color: #ecf0f1;
}

#project-header {
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

#projects-main-container {
    flex: 0 0 80%;
    max-width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px 0 10vw;
    text-align: center;
    scroll-snap-align: center;

}

#project-h3 {
    font-size: 20px;
    color: #7f8c8d;
}

#project-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#project-ul li {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.view-project-btn{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.tech-stack {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.tech-tag {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    animation: slideIn 0.5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}
.left-arrow{
    position: absolute;
    left: 5%;
    top: 50%;
}
.right-arrow{
    position: absolute;
    right: 5%;
    top: 50%;
}
@keyframes slideIn {
     from {
         opacity: 0;
         transform: translateX(-20px);
     }
     to {
         opacity: 1;
         transform: translateX(0);
     }
 }








/* Skills Section Styles */
#skills{
    width: 100%;
    height: 270vh;
}
#skill-header{
    font-size: 40px;
    text-align: center;
}
.topic-div{
    width: 90%;
    height: 10vh;
    background-color: #3498db;
    margin-left: 10vh;
    text-align: center;
    border-radius: 10px;
}
.skill-item-div1{
    width: 90%;
    height: 35vh;
    background-color: white;
    margin-bottom: 20vh;
    margin-left: 10vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:1fr;
}
.skill-item-div1 > div{
    background-color: lightblue;
    margin: 10px;
    border-radius: 10px;

    position: relative;

}
.skill-item{
    position: absolute;
    top: 30%;
    left: 30%;
}




/* Let's Connect Section Styles */

#contact{
    width: 100vw;
}
#header-container{
    width: 100%;
    height: 10%;
    text-align: center;
}
#contact-form-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5vw;
}
#contact-form-container>div{
    margin: 10px;
}
.details-div{
    width: 100%;
    display: flex;
    font-size: 15px;
    margin-bottom: 20px;
}
.icon1{
   margin-right: 15px;
}
#contact-div-left>h3{
    margin-bottom: 10px;
}
#name-input{
        width: 90%;
        padding: 10px;
        margin: 10px 0 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
}
#email-input{
    width: 90%;
    padding: 10px;
    margin: 10px 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#message-text-area{
    width: 90%;
    padding: 10px;
    margin: 10px 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
#send-button{
    width: 90%;
    padding: 10px;
    margin: 10px 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightblue;

}






/* Footer Styles */
#footer {
    position: relative;
    padding: 20px;
    background-color: #2c3e50;
    /*color: #fff(--tw-gradient-to-position);*/
    text-align: center;
}

#footer-div1{
    width: 100%;
    height: 10%;
    text-align: center;
}
#footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#footer-container>div{
    margin: 10px;
}

#footer-div1 h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#footer-div2 h1 {
    font-size: 24px;
}

#footer-div2 p {
    font-size: 16px;
    margin: 10px 0;
}

#footer-div2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    align-content: start;
    padding: 0;

}

#footer-div2 img {
    width: 30px;
    margin-right: 2vw;
    margin-left: 0;
}

#footer-div3 .social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0 5vh 20vw;
}

#footer-div3 h3 {
    font-size: 14px;
    margin-left: 30vw;
}






@media all and (max-width: 1199px){

    #home {
        grid-template-columns: 1fr 1fr;
    }


}

@media all and (max-width: 1024px){

    /*home*/
    #home {
        grid-template-columns: 1fr;
    }

    #img{
        display: none;
    }
    #left-side{
        text-align: center;
        align-items: center;
    }

    #social-links{

    }


    /*about*/
    #about {
        grid-template-columns: 1fr;

    }


}

@media all and (max-width: 768px){

    #home {
        grid-template-columns: 1fr;
    }

    #img2{
        position: relative;
        left:0;
    }

    #education{
        font-size: 10px;
    }
    #menu-icon{
        display: block;
    }
    .ul-links {
        display: none;
    }
    .skill-item-div1{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #contact-form-container{
        grid-template-columns: 1fr;
    }
    #footer-container{

        grid-template-columns: 1fr;
    }


}
@media all and (max-width: 500px){

    .skill-item-div1{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


}
@media all and (max-width: 300px){

    .skill-item-div1{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


}