
        /*Header section*/

        body{
            position: absolute;
        }

        /* Reset Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        header{
            width: 100vw;
            height: 10vh;
            background-color: lightblue;
        }

        .logo {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: bold;
        }
        .ul-links{
            list-style: none;
            display: flex;

        }

        nav ul li {
            display: inline;
            padding: 10px 10px 10px 10px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }





        /*<!--        Home section-->*/
        #home{
            width: 100vw;
            height: 120vh;
            background-color: yellow;

            position: absolute;
        }

        /*left side*/

        #left-side{
            width: 50vw;
            height: 120vh;
            background-color: lightpink;
        }

        /*Right side*/

        #right-side{
            width: 50vw;
            height: 120vh;
            background-color: gray;

            position: absolute;
            right: 0;
            top: 0;
        }




        /*about section*/

        #about{
            width: 100vw;
            height: 120vh;
            background-color: yellow;

            position: absolute;
            top: 600px;

        }

        /*<!--        Right side image-->*/

        #image_about{
            width: 50vw;
            height: 120vh;
            background-color: gray;

            position: absolute;
        }

        /*<!--        left side image-->*/

        #left-about{
            width: 50vw;
            height: 120vh;
            background-color: lightpink;

            position: absolute;
            right: 0;
            top: 0;
        }


        /*<!--    Educational section-->*/


        #education{
            width: 100vw;
            height: 120vh;
            background-color: lightblue;

            position: absolute;
            top: 1150px;
        }
        #topic1{
            font-weight: bold;
            text-align: center;
        }
        #article1{
            width: 100vw;
            height: 40vh;
            background-color: lightpink;
        }