
        /*Header section*/

        body{
            position: absolute;
        }

        /* Reset Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        header{
            width: 100vw;
            height: 10vh;
            background-color: lightblue;
        }

        .logo {
            display: flex;
            align-items: center;
            font-size: 1.8rem;
            font-weight: bold;
        }
        .ul-links{
            list-style: none;
            display: flex;

        }

        nav ul li {
            display: inline;
            padding: 10px 10px 10px 10px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }





        /*<!--        Home section-->*/
        #home{
            width: 100vw;
            height: 120vh;
            background-color: yellow;

            position: absolute;
        }

        /*left side*/

        #left-side{
            width: 50vw;
            height: 120vh;
            background-color: lightpink;
        }

        /*Right side*/

        #right-side{
            width: 50vw;
            height: 120vh;
            background-color: gray;

            position: absolute;
            right: 0;
            top: 0;
        }




        /*about section*/

        #about{
            width: 100vw;
            height: 120vh;
            background-color: yellow;

            position: absolute;
            top: 600px;

        }

        /*<!--        Right side image-->*/

        #image_about{
            width: 50vw;
            height: 120vh;
            background-color: gray;

            position: absolute;
        }

        /*<!--        left side image-->*/

        #left-about{
            width: 50vw;
            height: 120vh;
            background-color: lightpink;

            position: absolute;
            right: 0;
            top: 0;
        }


        /*<!--    Educational section-->*/


        #education{
            width: 100vw;
            height: 100vh;
            background-color: lightblue;

            position: absolute;
            top: 1150px;
        }
        #topic1{
            font-weight: bold;
            text-align: center;
        }
        .article1{
            width: 100vw;
            height: 20vh;
            background-color: lightpink;
        }




        /*<!--    Assigment section-->*/

        #assignments{
            width: 100vw;
            height: 100vh;
            background-color: lightblue;

            position: absolute;
            top: 1600px;
        }

        #assignments-header{
            text-align: center;
            font-weight: bold;
        }

        #assignments1{
            width: 40vw;
            height: 80vh;
            background-color: lightpink;
            margin-left: 40px;

            position: absolute;
            bottom: 40px;
        }

        #assignments2{
            width: 40vw;
            height: 80vh;
            background-color: lightpink;
            margin-right: 40px;

            position: absolute;
            right: 0;
            top: 50px;
        }

        #left-arrow{
            position: absolute;

            top: 200px;
        }

        #right-arrow{
            position: absolute;

            right: 0;
            top: 200px;
        }



        /*<!--    Projects section-->*/

        #projects{
            width: 100vw;
            height: 100vh;
            background-color: lightblue;

            position: absolute;
            top: 2100px;
        }

        #project-header{
            text-align: center;
            font-weight: bold;
        }

        #projects-main-container{
            width: 100vw;
            height: 80vh;
            background-color: lightpink;
            margin-top: 20px;
        }

        #project-h3{
            text-align: left;
            font-weight: bold;
            font-size: 1rem;
            padding-top:10px;
        }

        #list-div{
            width: 90vw;
            height: 10vh;
            background-color: lightblue;
        }



        /*<!--    Skill section-->*/

        #skills{
            width: 100vw;
            height: 190vh;
            background-color: lightblue;

            position: absolute;
            top: 2600px;
        }

        #skill-header{
            text-align: center;
            font-weight: bold;
        }
        #Languages-div{
            width: 90vw;
            height: 40vh;
            background-color: lightpink;
        }
        #Languages-header{
            text-align: center;
            font-weight: bold;
        }
        #development-div{
            width: 90vw;
            height: 40vh;
            background-color: lightpink;
            margin-top: 20px;
        }
        #frontend-div{
            text-align: center;
            font-weight: bold;
        }
        #Backend-Database-div{
            width: 90vw;
            height: 40vh;
            background-color: lightpink;
            margin-top: 20px;
        }
        #backend-div{
            text-align: center;
            font-weight: bold;
        }
        #tool-div{
            width: 90vw;
            height: 40vh;
            background-color: lightpink;
            margin-top: 20px;
        }
        #tools-header{
            text-align: center;
            font-weight: bold;
        }




        /*<!--    Let's Connect-->*/

        #contact{
            width: 100vw;
            height: 100vh;
            background-color: lightblue;

            position: absolute;
            top: 3500px;
        }

        #contact-header{
            text-align: center;
            font-weight: bold;
        }


        /*<!--        left side-->*/

        #contact-div-left{
            width: 50vw;
            height: 90vh;
            background-color: lightpink;

            position: absolute;
            bottom: 0;
        }



        /*<!--        Right side -->*/

        #contact-div-right{
            width: 50vw;
            height: 90vh;
            background-color: lightgreen;

            position: absolute;
            bottom: 0;
            right: 0;
        }





        /*<!--    footer section-->*/

        #footer{
            width: 100vw;
            height: 50vh;
            background-color: lightblue;

            position: absolute;
            top: 4000px;
        }

        #footer-div1{
            width: 100vw;
            height: 15vh;
            background-color: lightpink;
        }

        #footer-div2{
            width: 50vw;
            height: 40vh;
            background-color: yellow;
        }

        #footer-div3{
            width: 50vw;
            height: 40vh;
            background-color: lightgreen;

            position: absolute;
            right: 0;
            top: 70px;
        }